<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--Spring 配置 -->
    <!--组件扫描 实例化路径下所有带有 @controller @service @repository -->
    <context:component-scan base-package="com.qfedu.ssm"></context:component-scan>

    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="jdbcUrl"
                  value="jdbc:mysql://localhost:3306/document?useUnicode=true&amp;characterEncoding=utf8&amp;serverTimezone=GMT%2B8"></property>
        <property name="username" value="root"></property>
        <property name="password" value="123456"></property>
    </bean>
    <!--事务管理器 在service 中启动
    事务操作 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!--注解驱动的事务 -->
    <tx:annotation-driven></tx:annotation-driven>

    <!--springMVC 配置 -->
    <!--启动注解驱动的MVC 会配置新的特殊性组件，如 映射处理器-->
    <mvc:annotation-driven></mvc:annotation-driven>

    <!--处理静态资源的请求 -->
    <mvc:resources mapping="/resources/**" location="/resources/"></mvc:resources>

    <!--配置视图解析器 主要覆盖视图解析的前后缀-->
    <mvc:view-resolvers>
        <mvc:jsp prefix="/WEB-INF/page/" suffix=".jsp"></mvc:jsp>
    </mvc:view-resolvers>

    <!--mybatis 配置 -->
    <!--配置sqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="mapperLocations" value="classpath:mapper/*.xml"></property>
    </bean>
    <!--扫描指定包下dao层接口，生产dao接口的代理实现 -->
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.qfedu.ssm.**.dao"></property>
    </bean>
</beans>